.app {
  text-align: center;
}

.app-header {
  background-image: url(./img/starry-background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  bottom: 10px;
  max-width: 100px;
  z-index: 3;
  opacity: 0;
  animation: fadeIn 2s linear 6s forwards, floating 4s ease-in-out infinite;
}

.completed-image {
  max-width: 100%;
}

.panel-container {
  min-height: 100vh;
  background-color: #222222;
  position: relative;
}

.game-panel {
  border-radius: 50px;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  min-height: 80vh;
  min-width: 80vw;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 10px #000000cc;
}

.game-panel-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.game-title {
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 700;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.game-goal {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 400;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hide {
  display: none;
}

.floating-image {
  padding: 10px;
  margin: auto;
  max-height: 200px;
  max-width: 200px;
  flex: auto;
  animation: floating 3s ease-in-out infinite;
}

.floating-image-container {
  padding: 10px;
  margin: auto;
  max-height: 200px;
  max-width: 200px;
  flex: auto;
  display: inline;
}

iframe {
  width: 80vw;
  height: 70vh;
  position: absolute;
  left: 10vw;
  top: 15vh;
}

.modal {
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.modal-image {
  max-width: 100%;
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: .3s;
  animation-name: modal-video;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.moon {
  position: absolute;
  top: -50px;
  left: -50px;
  opacity: 0;
  animation: fadeIn 2s linear 6s forwards;
}

.quote {
  font-size: 1em;
  font-style: italic;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.tag-line {
  font-size: 0.67em;
}

.timer {
  font-size: 2em;
  font-weight: 300;
  animation: fadeIn 2s linear 4s forwards;
  opacity: 0;
}

.title {
  font-size: 2.25em;
  margin-bottom: 0px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes floating {
  0% {transform: translate(0, 0px);}
  50% {transform: translate(0, 15px);}
  100% {transform: translate(0, -0px);}
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 460px;
    height: 230px;
    position: inherit;
  }
  .floating-image {
    max-width: 125px;
  }
}